<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{site.longname}}</title>
    <meta name="description" content="{{site.description}}" />
    <meta name="author" content="{{site.author}}" />

    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Welcome to {{site.longname}}</h1>
    <!--<script src="js/scripts.js"></script>-->
  </body>
</html>
